
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker ###
/.env.prod
###< docker ###

###> deptrac/deptrac ###
/.deptrac.cache
###< deptrac/deptrac ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

.idea
.DS_Store
coverage
coverage.xml
/src/Generated/Transfers/
/docker/.compose-file

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
