parameters:
    level: 8
    paths:
        - src/
    excludePaths:
        analyseAndScan:
            - src/Generated/ (?)


    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkDynamicProperties: true

    reportUnmatchedIgnoredErrors: false
