{
    frankenphp
    order php_server before file_server
    debug
}

:80 {
    root * /app/public
    php_server {
                   resolve_root_symlink
               }
    encode zstd gzip
    file_server
    handle /health {
                       respond "OK" 200
                   }
    handle_errors {
                      respond "{err.status_code} {err.status_text}"
                  }
    log {
            output stdout
            format console
            level DEBUG
        }
}
