name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Copy env file
                run: cp .env.dist .env

            -   name: Build image with cache
                uses: docker/build-push-action@v5
                with:
                    context: .
                    file: docker/frankenphp/Dockerfile
                    target: dev
                    build-args: |
                        PHP_VERSION=8.4
                        PHP_EXTENSIONS=pdo_pgsql intl zip opcache xml
                        PECL_EXTENSIONS=
                        APK_PACKAGES=postgresql-dev icu-dev libzip-dev git unzip
                    tags: symfony-layered-architecture-template-app:latest
                    load: true
                    cache-from: type=gha,scope=${{ github.ref_name }}
                    cache-to: type=gha,scope=${{ github.ref_name }},mode=max

            -   name: Start environment
                run: docker compose -f docker-compose.test.yaml up -d

            -   name: Install dependencies
                run: |
                    docker compose exec app composer install
                    docker-compose exec app php bin/console transfer:generate
                    docker-compose exec app php bin/console cache:warmup

            -   name: Run PHPStan
                run: docker-compose exec app vendor/bin/phpstan analyse --memory-limit=1G

    deptrac:
        name: Deptrac
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Copy env file
                run: cp .env.dist .env

            -   name: Build image with cache
                uses: docker/build-push-action@v5
                with:
                    context: .
                    file: docker/frankenphp/Dockerfile
                    target: dev
                    build-args: |
                        PHP_VERSION=8.4
                        PHP_EXTENSIONS=pdo_pgsql intl zip opcache xml
                        PECL_EXTENSIONS=
                        APK_PACKAGES=postgresql-dev icu-dev libzip-dev git unzip
                    tags: symfony-layered-architecture-template-app:latest
                    load: true
                    cache-from: type=gha,scope=${{ github.ref_name }}
                    cache-to: type=gha,scope=${{ github.ref_name }},mode=max

            -   name: Start environment
                run: docker compose -f docker-compose.test.yaml up -d

            -   name: Install dependencies
                run: |
                    docker compose exec app composer install
                    docker-compose exec app php bin/console transfer:generate
                    docker-compose exec app php bin/console cache:warmup

            -   name: Run PHPStan
                run: docker-compose exec app vendor/bin/deptrac

    test:
        name: PHPUnit
        runs-on: ubuntu-latest
        needs: [ deptrac, phpstan ]
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Copy env file
                run: cp .env.dist .env

            -   name: Build image with cache
                uses: docker/build-push-action@v5
                with:
                    context: .
                    file: docker/frankenphp/Dockerfile
                    target: dev
                    build-args: |
                        PHP_VERSION=8.4
                        PHP_EXTENSIONS=pdo_pgsql intl zip opcache xml
                        PECL_EXTENSIONS=
                        APK_PACKAGES=postgresql-dev icu-dev libzip-dev git unzip
                    tags: symfony-layered-architecture-template-app:latest
                    load: true
                    cache-from: type=gha,scope=${{ github.ref_name }}
                    cache-to: type=gha,scope=${{ github.ref_name }},mode=max

            -   name: Start environment
                run: docker compose -f docker-compose.test.yaml up -d

            -   name: Install dependencies
                run: |
                    docker compose exec app composer install
                    docker-compose exec app php bin/console doctrine:migrations:migrate --no-interaction
                    docker-compose exec app php bin/console transfer:generate
                    docker-compose exec app php bin/console cache:warmup

            -   name: Run PHPStan
                run: docker-compose exec app vendor/bin/phpunit
